@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-page: oklch(0.134409 0 0);
  --color-page-alternate: oklch(0.139791 0 0);
  --color-window: oklch(0.144788 0 0);
  --color-panel: oklch(0.15434 0 0);
  --color-surface: oklch(0.168416 0 0);
  --color-field: oklch(0.177638 0 0);
  --color-step: oklch(0.251965 0 0);
  --color-content-muted: oklch(0.489056 0 0);
  --color-content: oklch(0.95514 0 0);
  --color-contrast: oklch(1 0 0);
  --color-brand: oklch(0.633932 0.158787 253.171);
  --color-brand-middle: oklch(0.669572 0.125854 238.109);
  --color-brand-accent: oklch(0.80536 0.152968 165.717);
  --color-info: oklch(0.865 0.127 207.078);
  --color-danger: oklch(0.558008 0.213657 19.4);
  --color-window-close: oklch(0.712 0.194 13.428);
  --color-window-minimize: oklch(0.828 0.189 84.429);
  --color-window-maximize: oklch(0.841 0.238 128.85);
  --font-jetbrains-mono: 'JetBrains Mono';
  --font-sans: 'Figtree';
}

@layer base {
  body {
    @apply bg-page text-content;
  }
}
