:root {
  --primary: #69CB3A;
  --black: #000000;
  --white: #FAFAFA;
  --label: #505050;
}

html, body {
  font-family: 'Bitter', serif;
  scroll-behavior: smooth;
  background: var(--white);
}

a {
  color: var(--primary);
}

::-moz-selection {
  color: var(--white);
  background: var(--primary);
}

::selection {
  color: var(--white);
  background: var(--primary);
}

li.tria-item {
  list-style: none;
  font-size: 1.5em;
  align-items: center;
  color: var(--label)
}

ul li.tria-item:before {
  content: "\2022";
  color: var(--primary);
  width: 1em
}

nav .navbar-nav li a.new-password {
  color: var(--white) !important;
  background: var(--primary);
  border-radius: 6px;
  transition-duration: .3s;
}

nav .navbar-nav li a.new-password:hover {
  color: var(--primary) !important;
  background: var(--white);
}

p.context {
  font-size: 1.5em;
  align-items: center;
  color: var(--label)
}

nav .navbar-nav li a {
  color: var(--label) !important;
}

nav .navbar-nav li a:hover {
  color: var(--primary) !important;
}

.form-control {
  border-radius: 15px;
}

.div-f {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 300px;
}

.btn-primary {
  width: 300px;
  border-radius: 10px;
  background-color: var(--black);
  color: var(--white);
  border-color: var(--primary);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--black);
  color: var(--primary);
  border-color: var(--primary);
}

.navbar-brand {
  height: 76px;
  left: 94px;
  top: 38px;
}

.span-white {
  color: var(--white);
  font-style: italic;
}

.headline {
  color: var(--black);
  font-weight: bold;
  text-align: center;
  /*text-shadow: 2px 0px 0 var(--label), 0px 2px 0 var(--label), -2px 0px 0 var(--label), 0px -2px 0 var(--label);*/
}

.span-green {
  color: var(--primary);
  font-style: italic;
}

.screenFiller {
  min-height: 100vh;
}

.child-element {
  margin-top: 12vh;
}

.form-label {
  font-weight: bold;
}

@media (min-width: 768px) {
  .div-f {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 500px;
  }

  .child-element {
    margin-top: 22.5vh;
  }

  li.why-tria-item {
    line-height: 40px;
    margin-left: 150px;
    margin-right: 150px;
  }
}

/*SnackBar*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: var(--black);
  /* Black background color */
  color: var(--white);
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/* footer */
.footer-basic {
  padding: 40px 0;
  background-color: var(--black);
  color: var(--white);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
